@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="text-center">
        <h1>Welcome to OnlineBookStore</h1>
        <p class="lead">Buy your favorite books easily.</p>

        <a href="/Books" class="btn btn-primary btn-lg">Browse Books</a>
    </div>
</div>


