@model IEnumerable<OnlineBookStors.Models.CartItem>

@{
    ViewData["Title"] = "Cart";
}

<div class="container mt-4">
    <h2>Your Cart</h2>

    @if (!Model.Any())
    {
        <p>Your cart is empty.</p>
        <a href="/Books" class="btn btn-primary">Browse Books</a>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Book.Title</td>
                        <td>@item.Quantity</td>
                        <td>@item.Book.Price $</td>
                        <td>@(item.Book.Price* item.Quantity) $</td>
                        <td>
                            <a href="/Cart/Remove/@item.Id" class="btn btn-danger btn-sm">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a href="/Cart/Checkout" class="btn btn-success">Proceed to Checkout</a>
    }
</div>

