@model web_final_project.Models.AppUser
@{
    Layout = "_Layout";
}

<h2>Edit Profile</h2>
<form method="post">
    <input type="hidden" asp-for="UserId" />
    <input asp-for="FullName" class="form-control mt-1" placeholder="Full Name" />
    <input asp-for="Email" class="form-control mt-1" placeholder="Email" />
    <input asp-for="Phone" class="form-control mt-1" placeholder="Phone" />
    <input asp-for="City" class="form-control mt-1" placeholder="City" />
    <input asp-for="Address" class="form-control mt-1" placeholder="Address" />
    <button class="btn btn-primary mt-2">Update</button>
</form>

