@model IEnumerable<web_final_project.Models.Order>
<h1>Orders</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Total</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                <td>@o.User?.Username</td>
                <td>@o.OrderDate.ToShortDateString()</td>
                <td>$@o.TotalPrice</td>
                <td>@o.Status</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Order/Details/@o.OrderId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

