@model OnlineBookStors.Models.Category

<div class="container mt-4" style="max-width:500px;">
    <h2>Add Category</h2>

    <form method="post">
        <div class="mb-3">
            <label>Name</label>
            <input name="Name" class="form-control" required />
        </div>

        <button class="btn btn-success w-100">Save</button>
    </form>
</div>

